<!--===================== Foooter   ======================-->

<div class="footer">

    <div class="footer__grid-box">
        <h1 class="footer-primary">
            <span class="footer-primary--main">“Fairy tales are more than true: not because they tell us that
                dragons exist, but because they tell us that dragons can be beaten.”</span>
            <span class="footer-primary--sub">― Neil Gaiman, Coraline</span>
        </h1>
    </div>

    <div class="footer__grid-box">

    </div>

    <div class="footer__grid-box">

        <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#">
                    <span class="footer__icon--1">
                        <i class="fab fa-facebook"></i>
                    </span>

                </a></li>
            <li class="footer__item"><a class="footer__link" href="#">

                    <span class="footer__icon--2">
                        <i class="fab fa-instagram"></i>
                    </span>


                </a></li>
            <li class="footer__item"><a class="footer__link" href="#">
                    <span class="footer__icon--3">
                        <i class="fab fa-linkedin-in"></i>
                    </span>


                </a></li>
        </ul>
    </div>


</div>

<!--===================== Foooter   ======================-->









<!-- jQuerry.JS -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<!-- <script src="https://vjs.zencdn.net/7.3.0/video.js"></script> -->

<!-- GREENSOCK.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

<!-- SCROLL-OUT.JS -->
<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>


<script type="module" src="js/main.js"></script>
<script src="/js/pages/subValidation.js"></script>
</body>

</html>