<div class="glider-contain multiple">
        
        <!-- <button role="button" aria-label="Previous" class="glider-prev">«</button> -->



        <div class="glider">

            <div class="main-container">

            <div class="main-container--one">
               

                
            </div>

            <div class="main-container--one">
                beqa
            </div>

            <div class="main-container--one">
                beqa
            </div>

            <div class="main-container--one">
                beqa
            </div>


                
            </div>

        </div>








       <!--  <button role="button" aria-label="Next" class="glider-next">»</button> -->
        <!-- <div role="tablist" class="dots"></div> -->
    </div>

