
<div class="container-genre">
    <p class="container-genre--text">Popular this week</p>
    
</div>




<div class="glider-contain multiple">
        
        <button role="button" aria-label="Previous" class="glider-prev">«</button>



        <div class="glider">

            <div class="carousel-container first_red">
                <div class="name">American Gods</div>
                <div class="authorName">Neil Geiman</div>
                <div class="picture"><img src="img/martian.png" alt="Martian" class="picture--img"></div>
                
            </div>

            <div class="carousel-container">
                <div class="name">Near to the Wild Heart</div>
                <div class="authorName">Clarice Lispector</div>
                <div class="picture"><img src="img/clarica.png" alt="Near to the Wild Heart" class="picture--img"></div>
            </div>

            <div class="carousel-container">
                <div class="name">A Breath of Life</div>
                <div class="authorName">Clarice Lispector</div>
                <div class="picture"><img src="img/clarice-1.png" alt="Martian" class="picture--img"></div>
            </div>

            <div class="carousel-container">
                <div class="name">The Brief History of The Dead</div>
                <div class="authorName">Kevin Brockmeier</div>
                <div class="picture"><img src="img/kevin.png" alt="Martian" class="picture--img"></div>
            </div class="carousel-container">

            <div class="carousel-container">
                <div class="name">The Wizard of Oz</div>
                <div class="authorName">Frank Baum</div>
                <div class="picture"><img src="img/baum.png" alt="Martian" class="picture--img"></div>
            </div>




        </div>








        <button role="button" aria-label="Next" class="glider-next">»</button>
        <!-- <div role="tablist" class="dots"></div> -->
    </div>







