<header class="header_secondary">
        <!-- <h1 class="heading-title">Book Sight</h1> -->

        

        <!-- <div class="button_container" id="toggleMenuBtn">
            <span class="top" id="toggleMenuBtn_Ln_1"></span>
            <span class="middle" id="toggleMenuBtn_Ln_2"></span>
            <span class="bottom" id="toggleMenuBtn_Ln_3"></span>
        </div>

        <div class="overlay" id="overlay">
            <nav class="overlay-menu">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="../Other-Pages/library.html">Library</a></li>
                    <li><a href="../Other-Pages/login.html">Login</a></li>
                    <li><a href="../Other-Pages/book-page(description).html">Books</a></li>
                    <li><a href="/registration.html">Registration</a></li>
                    <li><a href="../Other-Pages/about.html">About</a></li>
                    <li><a href="../Other-Pages/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div> -->

        <div class="header_secondary__text-box">
            <h1 class="primary-text">
                <span class="primary-text--main">
                    Library
                </span>
                <span class="primary-text--sub">
                    "A Room without books is like a body without a soul!" - Marcel Proust
                </span>

            </h1>
            
        </div>
    </header>

    <!--              Search            -->
    <div class="search-box">
        <ul class="search-box__list">
            <li class="search-box__list__item">
                <a class="search-box__list__item__link" href="#">Classic</a>
            </li>
            <li class="search-box__list__item">
                <a class="search-box__list__item__link" href="#">Mystery</a>
            </li>
            <li class="search-box__list__item">
                <a class="search-box__list__item__link" href="#">Detective</a>
            </li>
            <li class="search-box__list__item">
                <a class="search-box__list__item__link" href="#">Fantasy</a>
            </li>
            <li class="search-box__list__item">
                <a class="search-box__list__item__link" href="#">Horror</a>
            </li>
            <li class="search-box__list__item">
                <a class="search-box__list__item__link" href="#">Mythology</a>
            </li>
            <li class="search-box__list__item">
                <a class="search-box__list__item__link" href="#">Biography</a>
            </li>

        </ul>

    </div>