<!-- ===========  NEW NAVGATION BAR ============-->



<div class="navigation">

<div class="menu-icon burger">
    <span class="menu-icon__line "></span>
    <span class="menu-icon__line "></span>
    <span class="menu-icon__line "></span>
</div>

<div class="navigation__logo-box">
    <img src="/img/mainlogo.svg" class="navigation__logo">
</div>
<ul>
    <li><a class="hvr-underline-from-center " href="#">Home</a></li>

    <li><a class="hvr-underline-from-center " href="/Other-Pages/library.html">Library</a></li>
    
    <li><a class="hvr-underline-from-center " href="/Other-Pages/login.html">Login</a></li>
    
    <li><a class="hvr-underline-from-center " href="/Other-Pages/contact.html">Contact</a></li>
    

</ul>

</div>
<!-- ===========  NEW NAVGATION BAR ============-->