<!--              Search            -->
<div class="search-box">
    <ul class="search-box__list">
        <li class="search-box__list__item">
            <a class="search-box__list__item__link" href="#">Classic</a>
        </li>
        <li class="search-box__list__item">
            <a class="search-box__list__item__link" href="#">Mystery</a>
        </li>
        <li class="search-box__list__item">
            <a class="search-box__list__item__link" href="#">Detective</a>
        </li>
        <li class="search-box__list__item">
            <a class="search-box__list__item__link" href="#">Fantasy</a>
        </li>
        <li class="search-box__list__item">
            <a class="search-box__list__item__link" href="#">Horror</a>
        </li>
        <li class="search-box__list__item">
            <a class="search-box__list__item__link" href="#">Mythology</a>
        </li>
        <li class="search-box__list__item">
            <a class="search-box__list__item__link" href="#">Biography</a>
        </li>

    </ul>

</div>