/// PRIMARY COLORS
$primary-color-first:#FF6473;
$primary-color-second:#233142;
$primary-color-second-hover:#38506b;
$primary-color-third:#455D7A;


// $primary-color-second:rgb(35, 49, 66);
/// PRIMARY COLORS

/// fonts
$primary-color-second-font:#233142;
$font-white-color:#ffffff;
/// fonts



$may-use-first:#F95959;
$may-use-second:#5CC1B3;
$may-use-third:#6EF7C8;


/// NAV COLORS
$color-background: #F5F5F5;
$color-main: #1abc9c;
$primary-color-second-nav-back:#233142;
$color-active: #FFF;
$primary-color-nav-first:rgba(255, 145, 156, 0.824);


$button-height: 27px;
$button-width: 35px;

/// NAV COLORS


/// Width parameters

$max-width:80%;
$max-width-for-footer:100%;
$max-width-rem:160rem;

/// Width parameters



/// Icon color

$facebook-linkdin-icon:rgb(85, 133, 228);
$facebook-linkdin-icon-hover:rgb(71, 120, 219);

$instagram-icon:#FF6473;
$instagram-icon-hover:rgb(182, 182, 182);



/// Icon color